<div class="tree">
  <div *ngFor="let item of items">

    <div class="tree-item"
     [style.paddingLeft.px]="level * 16 + 8"
     [class.selected]="item.fileId === selectedFileId"
     (click)="onItemClick(item)">

  <span class="item-icon">
    {{ item.type === 'folder'
       ? (isExpanded(item.path) ? '📂' : '📁')
       : '📄' }}
  </span>

  <span class="item-name">{{ item.name }}</span>

  <!-- Rename -->
  <span class="action-btn"
        *ngIf="item.type === 'file'"
        (click)="onRename($event, item)"
        title="Rename">
    ✏️
  </span>

  <!-- Delete -->
  <span class="delete-btn"
        *ngIf="item.type === 'file'"
        (click)="onDelete($event, item.fileId!)"
        title="Delete">
    ✕
  </span>
</div>

    <!-- Children -->
    <div *ngIf="item.type === 'folder'
                && isExpanded(item.path)">
      <app-file-tree
        [items]="item.children"
        [level]="level + 1"
        [selectedFileId]="selectedFileId"
        (fileSelected)="fileSelected.emit($event)"
        (fileDeleted)="fileDeleted.emit($event)">
      </app-file-tree>
    </div>

  </div>
</div>